*{
   
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}
header{
    background-color: cyan;
}

h1{color:blue;}
.nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
    position: fixed;
 }  
 .nav li{
    display: inline-block;
}
.nav a{
    color: white;
    background-color: gray;
    padding:5px;
    border-radius:20px;
    text-decoration: none;
}